@use "./variables";

@mixin themeButton() {
  font-weight: 800;
  border: 2px solid variables.$dark-green;
  color: variables.$dark-green;
  height: 35px;
  border-radius: 25px;
  background-color: #00000000;

  &:hover {
    background-color: #ececec;
  }
}

@mixin floatingContainer() {
  width: min(89vw, 1300px);
  height: 70%;
  padding: 60px;
}