@use "src/StyleUtilities/variables";
@use "src/StyleUtilities/mixins";

$margin-x: 50px;

.header {
  position: absolute;
  height: 15%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__title-wrapper {
  margin-left: $margin-x;
}

.site-title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0px;

  &__inner {
    font-size: 1rem;
    margin: 0px 10px;
  }
}

.header-button {
  @include mixins.themeButton();
  width: 90px;
  margin-right: $margin-x;
}

@media (max-width: 530px) {

  .nav {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav__title-wrapper {
    margin: 10px 0px 0px 0px;
  }

  .site-title {
    font-size: 1.6rem;

    &__inner {
      font-size: .8rem;
    }
  }

  .nav__button-container {
    width: 100%;
    text-align: right;
  }

  .header-button {
    margin-right: 15px;
  }
}