@use "src/StyleUtilities/variables";
@use "src/StyleUtilities/mixins";

.map-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.map-filter {

  &__input {
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
    text-indent: 8px;
  }

  &__button {
    
  }
}


#map {
  height: 80%;
  width: 97vw;
  margin-bottom: 3vh;
  z-index: 1;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}