@use "src/StyleUtilities/variables";
@use "src/StyleUtilities/mixins";

.map-main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}

#map {
  height: 82%;
  width: 97vw;
  margin-bottom: 3vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup {
  width: 300px;
}